= simple_form_for(@linha) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, label: "Nome Linha"
    = f.association :ponto, label: "Nome Rua", label_method: :rua

  .form-actions
    = f.submit "Salvar"
 