%h1 Listing linhas

%table
  %thead
    %tr
      %th Id
      %th Nome Linha
      %th Nome Rua
      %th
      %th
      %th

  %tbody
    - @linhas.each do |linha|
      %tr
        %td= linha.idz
        %td= linha.nome
        %td= linha.ponto.rua
        %td= link_to 'Show', linha
        %td= link_to 'Edit', edit_linha_path(linha)
        %td= link_to 'Destroy', linha, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Linha', new_linha_path
