= simple_form_for(@onibu) do |f|
  = f.error_notification

  .form-inputs
    = f.association :empresa, label: "Nome Empresa", label_method: :nome
    = f.input :placa
    = f.input :num_assento, label: "Número Assentos"
    = f.input :assento_especial, label: "Assento Especial"

  .form-actions
    = f.submit "Salvar"
