%h1 Listing onibus

%table
  %thead
    %tr
      %th Placa
      %th Empresa
      %th Num assento
      %th Assento especial
      %th
      %th
      %th

  %tbody
    - @onibus.each do |onibu|
      %tr
        %td= onibu.placa
        %td= onibu.empresa.nomeEmpresa
        %td= onibu.num_assento
        %td= onibu.assento_especial
        %td= link_to 'Show', onibu
        %td= link_to 'Edit', edit_onibu_path(onibu)
        %td= link_to 'Excluir', onibu, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Onibu', new_onibu_path
