%h1 Listing onibus

%table
  %thead
    %tr
      %th Id
      %th Nome Empresa
      %th Placa Ônibus
      %th Número Assento
      %th Assento Especial
      %th
      %th
      %th

  %tbody
    - @onibus.each do |onibu|
      %tr
        %td= onibu.id
        %td= onibu.empresa.nome
        %td= onibu.placa
        %td= onibu.num_assento
        %td= onibu.assento_especial
        %td= link_to 'Show', onibu
        %td= link_to 'Edit', edit_onibu_path(onibu)
        %td= link_to 'Destroy', onibu, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Onibu', new_onibu_path
