%p#notice= notice

%p
  %b Empresa:
  = @onibu.empresa.nome
%p
  %b Placa:
  = @onibu.placa
%p
  %b Num assento:
  = @onibu.num_assento
%p
  %b Assento especial:
  = @onibu.assento_especial

= link_to 'Edit', edit_onibu_path(@onibu)
\|
= link_to 'Back', onibus_path
