  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
      <a href="/">
        Buscampos Web
      </a>
      </li>
      <li>
      <%= link_to 'Página Inicial', root_path %>
      </li>
      <li>
      <%= link_to 'Cadastrar Empresas', empresas_path %>
      </li>
      <li>
      <%= link_to 'Cadastrar Ônibus', onibus_path %>
      </li>
      <li>
      <%= link_to 'Cadastrar Pontos', pontos_path %>
      </li>
      <li>
      <%= link_to 'Cadastrar Linhas', linhas_path %>
      </li>
      <li>
      <%= link_to 'Cadastar Horários', horarios_path %>
      </li>
      <li>
      <%= link_to 'Contatos'%>
      </li>
    </ul>
  </div>
