= simple_form_for(@ponto) do |f|
  = f.error_notification

  .form-inputs
    = f.input :rua, label: "Nome Rua"
    = f.input :bairro, label: "Nome Bairro"
    = f.input :latitude
    = f.input :longitude

  .form-actions
    = f.submit "Salvar"
