%p#notice= notice

%p
  %b Id:
  = @ponto.id
%p
  %b Rua:
  = @ponto.rua
%p
  %b Bairro:
  = @ponto.bairro
%p
  %b Latitude:
  = @ponto.latitude
%p
  %b Longitude:
  = @ponto.longitude

= link_to 'Edit', edit_ponto_path(@ponto)
\|
= link_to 'Back', pontos_path
