= simple_form_for(@empresa) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, label: "Nome Empresa"
    = f.input :cnpj, label: "CNPJ"
    = f.input :telefone, label: "Telefone"
    = f.input :endereco, label: "Endereço"

  .form-actions
    = f.submit "Salvar"
