%h1 Listing empresas

%table
  %thead
    %tr
      %th Id
      %th Nome
      %th CNPJ
      %th Telefone
      %th Endereço
      %th
      %th
      %th

  %tbody
    - @empresas.each do |empresa|
      %tr
        %td= empresa.id
        %td= empresa.nome
        %td= empresa.cnpj
        %td= empresa.telefone
        %td= empresa.endereco
        %td= link_to 'Show', empresa
        %td= link_to 'Edit', edit_empresa_path(empresa)
        %td= link_to 'Destroy', empresa, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Empresa', new_empresa_path
