%p#notice= notice

%p
  %b Nome:
  = @empresa.nome
%p
  %b Cnpj:
  = @empresa.cnpj
%p
  %b Telefone:
  = @empresa.telefone
%p
  %b Endereco:
  = @empresa.endereco

= link_to 'Edit', edit_empresa_path(@empresa)
\|
= link_to 'Back', empresas_path
