%ul.nav
  %li= link_to 'Página Inicial', root_path
  %li= link_to 'Cadastrar Empresas', empresas_path
  %li= link_to 'Cadastrar Ônibus', onibus_path
  %li= link_to 'Cadastrar Pontos', pontos_path
  %li= link_to 'Cadastrar Linhas', linhas_path
  %li= link_to 'Cadastrar Horários', horarios_path
  = render 'layouts/navigation_links'
